#section1, #section2, #section3 {
  float: right;
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
}
.section-title {
  font-weight: bold;
}

#section1, #section2, #section3 {
  float: right;
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
}
 #section1 {
    border-color: #f00;
  }
  
  #section1 .section-title {
    background-color: #f00;
  }
  
  #section2 {
    border-color: #0f0;
  }
  
  #section2 .section-title {
    background-color: #0f0;
  }
  
  #section3 {
    border-color: #00f;
  }
  
  #section3 .section-title {
    background-color: #00f;
  }
  